<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common :: meta_header('書籍登録',~{::link},~{::script})}">
    <title th:text="${title}+' | MTLibrary'"></title>
    <link rel="stylesheet" th:href="@{/css/book/add.css}" />
    <script type="text/javascript" th:src="@{/js/book/add.js}"></script>
</head>

<body>
    <div class="contents">
        <div th:replace="~{common :: main_sidebar}"></div>
        <div class="main_contents">
            <div th:replace="~{common :: header}"></div>
            <div class="inner_contens">
                <div class="page_title">書籍登録</div>
                <div class="page_contents">
                    <form id="book_register_form" th:object="${bookMstDto}" th:action="@{/book/add}" method="post">
                        <span class="text red">*は必須項目です</span>
                        <p>書籍名：<br>
                            <input type="text" name="book_name" th:field="*{title}"></p>
                            <p th:text="${errorTitle}" style="color:red"></p>
                            <p>ISBN：<br>
                            <input type="text" name="isbn_number" th:field="*{isbn}"></p>
                            <p th:text="${errorIsbn}" style="color:red"></p>
                            <p><input type="submit" value="保存"></p>
                            <div class="mb30 flexarea">
                                <span>
                                    <a th:href="@{/book/index}" class="link">← 一覧へ戻る</a>
                                </span>    
                            </div>  
                    </form>
                       
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{common :: footer}"></div>
</body>